body{
    margin:0;
    padding:0;
    background-color: #113f67;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Unica One', cursive;
}

.container{
    margin:auto;
    position:absolute;
    width:700px;
    height:500px;
    inset:0;
    border-radius: 30px;
    border-style: solid;
    border-color: #1f6f78;
    border-width: 1em;
    
}
.left-side{
    background-image: url("kirokaze.gif");
    width:50%;
    height:500px;  
    background-size: cover;
    background-repeat: no-repeat;
}

.right-side{
    position:absolute;
    right:0px;
    top:0px;
    width:50%;
    height:500px;
}

header{
    height:100px;
    background-color:#e7eaf6;
    font-weight:bold;
}

.main-content{
    height:292px;
    padding:4px;
    background-color:white;
    padding:4px;
}

.main-content * div{
    display:flex;
    justify-content: space-between;
    padding: 8px;
}

input{
    width:100px;
    height:10px;
    box-sizing: content-box;
    
}
#footer{
    background-color:#e7eaf6;
    height:100px;
    padding-left:3px;
}

.button,
.button:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  left:-3px;
}

.button:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 208px) {
  .button,
  .button:after {
    width: 200px;
    height: 46px;
    line-height: 38px;
  }
}

fieldset{
    border:0;
    position:relative;
    bottom:4px;
}